body {
  background: rgb(207,242,174);
  background: linear-gradient(176deg, rgba(207,242,174,1) 0%, rgba(148,255,233,1) 46%, rgba(223,202,250,1) 100%);
}
header {
  display: inline;
  border: #464646;
}
main {
  display: block;
  border-style:hidden;
  border-color: #464646;
  margin-left: 400px;
  margin-right: 400px;
}

section {
  display:block;
  max-width: 1000px;
  border: black;
  border-style:hidden;
  margin: 40px;
}
section > p {
  padding-left: 100px;
  padding-right: 100px;
}
h1 {
  text-align: center;
  font-size: 2.5vw;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #464646;
  margin: 20px;
  background-color: white;
  padding: 20px;
  margin: 20px;
}
h2 {
  text-align: center;
  font-size: 1.5vw;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #464646;
  background-color: white;
  padding: 20px;
  margin: 20px;
}
h3 {
  text-align: center;
  font-size: 1.25vw;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #262626;
  background-color: rgb(255, 255, 255);
  text-transform: uppercase;
  padding: 20px;
  margin: 20px;
}
h6 {
  text-align: center;
  font-size: .75vw;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #ffffff;
  background-color: rgb(0, 0, 0);
  text-transform: uppercase;
  padding: 20px;
  margin: 20px;
}
p {
  font-size: 1dvw;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.25dvw;
  line-break: auto;
  color: #464646;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0px;
}
ul {
  display:inline-block;
  padding-left: 55px;
  color: #464646;
}
ul > li {
  list-style-type:disc;
  color: #464646;
  font-size: medium;
  line-height: 1.25dvw;
  padding-bottom: 8px;
  margin-left: 60px;
  margin-right: 100px;
}
ol {
  display: inline-block;
  padding-left: 55px;
  color: #464646;
}
ol > li {
  list-style: decimal;
  color: #464646;
  font-size: large;
  line-height: 1.25dvw;
  padding-bottom: 8px;
  margin-left: 60px;
  margin-right: 100px;
}
footer > section {
  display: inline;
}